<body class="body">
    <nav>
        <div class="sidebar-title">
            <h1>CONCERT</h1>
        </div>
        <div class="sidebar-content">
            <a href = ""><div class="sidebar-topics">Cadastro de Clientes</div></a>
            <a href = ""><div class="sidebar-topics">Cadastro de Pertences</div></a>
        </div>
        <div class="division-bar"></div>
        <div class="logout">
            <a href = "">Sair</a>
        </div>
    </nav>
    <div class="formulario-box">
        <app-formulario class="formulario"></app-formulario>
    </div>
</body>